*.com
*.class
*.dll
*.exe
*.o
*.so

.svn

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*~
*.swp

.gradle

/target
*/target
/build
*/build

out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

.classpath
.project
.settings
.metadata

.nbattrs
/bin
*/bin